@model WebApp.Models.DiscountsDTO
 
@{
    ViewData["Title"] = "Discount settings";
}


<div class="col-10 m-auto">
    <h1 class="display-4">Manage discounts</h1>

    <h3>Discounts</h3>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @Model.ErrorMessage
        </div>
    }

    <div class="d-flex">
        <a type="button" class="btn btn-primary mr-2" asp-controller="Discount" asp-action="Add">Add discount</a>
        <a type="button" class="btn btn-primary mr-2" asp-controller="Discount" asp-action="Index">Remove discount</a>
    </div>
    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <td>Id</td>
                <td>Item name</td>
                <td>Count</td>
                <td>Discount percent %</td>
            </tr>
        </thead>

        <tbody>
            @if (!Model.Discounts.Any())
            {
                <tr>
                    <td colspan="4">Discount does not exist yet</td>
                </tr>
            }

            @foreach (DiscountDTO item in Model.Discounts)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.ItemName</td>
                    <td>@item.Count</td>
                    <td>@item.DiscountPercent</td>
                </tr>
            }
        </tbody>
    </table>
</div>
